<div class="container">
  <h2>Lista pedidos</h2>

  <div id="pedidos">
    <div class="table-responsive">


      <table id="mytable" class="table table-bordred table-striped">

        <thead>

          <th>Identificador seguimiento</th>
          <th>Fecha pedido</th>
          <th>Fecha envio</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
        <tbody>

          <tr *ngFor="let item of listaPedidos | async">
            <td>{{item.identificadorSeguimiento}}</td>
            <td>{{item.fechaPedido}}</td>
            <td>{{item.fechaEnvio}}</td>
            <td>{{item.precioTotal}}</td>
            <td>{{item.estado}}</td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" (click)="seleccionarPedido(item)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </p>
            </td>
            <td>

              <button class="btn btn-danger btn-xs" type="button" (click)="eliminar(item.id)"><span
                  class="glyphicon glyphicon-trash"></span></button>
            </td>

          </tr>

        </tbody>

      </table>
    </div>
  </div>

  <button id="editarButton" type="button" style="display: none;" (click)="editarPedido()"></button>

  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
              class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Edición del pedido</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Estado pedido:</label>
            <select [(ngModel)]="pedidoSeleccionado.estado" class="form-select form-select-sm">
              <option *ngFor="let opt of estados" [value]="opt">{{opt}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer ">
          <label type="button" class="btn btn-success btn-lg" style="width: 100%;" (click)="editarPedido()" data-dismiss="modal" aria-hidden="true"><span
              class="glyphicon glyphicon-ok-sign"></span>Editar</label>
        </div>
      </div>
    </div>
  </div>