<div class="container">
  <h3>Registrar Pedido</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <label>Municipio:</label>
      <select [(ngModel)]="municipioSeleccionadoOpcion" class="form-select form-select-sm">
        <option *ngFor="let opt of municipios | async" [value]="opt.id">{{opt.nombre}}</option>
      </select>
    </div>
  </div>
  <form [formGroup]="pedidoForm">
    <div clas="row">
      <label>Nombre cliente:</label>
      <input validar type="text" id="nombreCliente" name="nombreCliente" placeholder="Nombre Cliente"
        class="form-control" formControlName="nombreCliente">
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Cedula cliente:</label>
        <input validar type="number" id="cedulaCliente" name="cedulaCliente" placeholder="Cedula cliente"
          class="form-control" formControlName="cedulaCliente">
      </div>
      <div class="col-md-6">
        <label>Direccion:</label>
        <input validar type="text" id="direccion" name="direccion" placeholder="Direccion cliente" class="form-control"
          formControlName="direccion">
      </div>
    </div>
  </form>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <label>Productos:</label>
      <select [(ngModel)]="productoSeleccionadoOpcion" class="form-select form-select-sm">
        <option *ngFor="let opt of productos | async" [value]="opt.codigo">{{opt.nombre + ' - ' + opt.codigo}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Cantidad:</label>
      <input type="number" [(ngModel)]="cantidadAgregar" placeholder="Cantidad..." />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-success" (click)="agregarProducto()"><span
          class="glyphicon glyphicon-plus"></span>Agregar</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <ng-container *ngFor="let item of productosAgregados">
          <tr *ngIf="item">
            <td>{{item.cantidad}}</td>
            <td>{{item.codigoProducto}}</td>
            <td><button type="button" (click)="eliminarProducto(item)">Eliminar</button></td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

  <div class="row">

    <button type="button" class="btn boton_personalizado" (click)="crear()">Enviar Pedido</button>
  </div>
</div>