
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <span class="glyphicon  glyphicon-map-marker" id="icon" alt="User Icon"></span>
        </div>
        <form>
            <p>Numero de seguimiento:</p>
            <input type="text" id="numeroseguimiento" name="numeroseguimiento" [(ngModel)]="numeroSeguimiento" />
            <input type="submit"id="buscar" class="fadeIn fourth" value="Buscar" (click)="ver()">

        </form>
    </div>
</div>
<div *ngIf="verDetalle">
    <div class="container">
        <h2>Detalle del pedido</h2>
        <table class="table table-striped" id="tablaDetalle">
            <thead>
                <tr>
                    <th>Cedula Destinatario</th>
                    <th>Fecha pedido</th>
                    <th>Fecha envio</th>
                    <th>Valor a pagar</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{pedido.cedula}}</td>
                    <td>{{pedido.fechaPedido}}</td>
                    <td>{{pedido.fechaEnvio}}</td>
                    <td>{{pedido.precioTotal}}</td>
                    <td>{{pedido.estado}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div *ngIf="verDetalle">
    <div class="container">
        <h2>Productos solicitados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo producto</th>
                    <th>Nombre</th>
                    <th>cantidad</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detalle of pedido.detallePedido">
                <td>{{detalle.idProducto}}</td>
                <td>{{detalle.idProducto}}</td>
                <td>{{detalle.cantidadPedida}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>